{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'task_app/css/task_app.css' %}">
    <title>Task App</title>
</head>
<body>
    <div class="heading">
        <h1>Task App</h1>
    </div>

    <form action="{% url 'logout' %}" method="post" class="pass-form">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
    <hr>

    <section class="links">
        <a href="{% url 'entries' %}" class="button">Task Entries Page</a>
        <a href="{% url 'dashboard' %}" class="button">Task Dashboard</a>
    </section>
    
</body>
</html>

