{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'entries/css/entries.css' %}">
    <title>Task App</title>
</head>
<body>
    <div class="heading">
        <h1>Add a Task</h1>
    </div>
    <a href="{% url 'home' %}" class="main-link">Home</a>
    <hr>

    <section class="form-section">
    <form action="" method="post" class="task-form">
        {% csrf_token %}

        <!-- Display non-field errors -->
        {% if form.non_field_errors %}
            <div class="error">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ form.as_p }}
            
        
        <input type="submit">
    </form>
    </section>

    <script type="module" src="{% static 'entries/js/add-task.js' %}"></script>
</body>
</html>