{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'entries/css/entries.css' %}">
    <title>Task App</title>
</head>
<body>
    <div class="heading">
        <h1 class="entries">Task Entries</h1>
        <a href="{% url 'add_task' %}" class="button">Add a Task</a>
    </div>
    <a href="{% url 'home' %}" class="main-link">Home</a>
    <hr>
    <ul id="task-cards">
    </ul>
    
    <script type="module" src="{% static 'entries/js/index.js' %}" defer></script>
    <script type="application/json" id="edit-url">{% url 'edit_task' 0 %}</script>


</body>
</html>